@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-row: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar head"
        "sidebar main";
}

.head {
    background-color: whitesmoke;
    grid-area: head;
}

.sidebar {
    background-color: gray;
    grid-area: sidebar;
}

.main-content {
    background-color: aqua;
    grid-area: main;
}