@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: .75fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar head"
        "sidebar main";
}

.head {
    background-color: whitesmoke;
    padding: 40px;
    grid-area: head;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head .head-top .search {
    display: flex;
    align-items: center;
}

.head .search button {
    background-color: transparent;
    border: none;
}

.head .head-top {
    display: flex;
    justify-content: space-between;
}

.head .head-top .icons {
    display: flex;
}

.head .head-bottom {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: aqua;
    grid-area: sidebar;
}

.main-content {
    background-color: gray;
    grid-area: main;
}